//- include ./../mixins/_socialNetworks.pug
//- include ./../mixins/_profiles.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      //- favicons

      //- --------
      title ActiveBox
      link(rel="stylesheet", href="css/style.css")


      
   

   body
   //-  include ./../sections/header.pug
   //-  include ./../sections/advantages.pug
   //-  include ./../sections/works.pug
   //-  include ./../sections/profiles.pug
   //-  include ./../sections/clients.pug
   //-  include ./../sections/download.pug
   //-  include ./../sections/_footer.pug
  
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

script(src="./js/main.js")

script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
